<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="net.fpt.listeners.ScreenShotListener" />
        <listener class-name="net.fpt.listeners.ExtentTestNGIReporter" />
        <!--        <listener class-name="net.fpt.listeners.LogTestNGListener" />-->
        <!--        <listener class-name="net.fpt.listeners.CustomizedEmailableIReport" />-->
    </listeners>
    <test name="Vegetable garden" preserve-order="false">
        <classes>
            <class name="runners.RunCucumberByCompositionTest"/>
        </classes>
    </test>
</suite>


